[submodule "qt5"]
	path = libraries/qt5
	url = https://github.com/qt/qt5.git
	ignore = untracked
[submodule "libepoxy"]
	path = libraries/libepoxy
	url = https://github.com/mgba-emu/libepoxy.git
	ignore = untracked
[submodule "x264"]
	path = libraries/x264
	url = http://git.videolan.org/git/x264.git/
	ignore = untracked
[submodule "imagemagick"]
	path = libraries/imagemagick
	url = https://github.com/ImageMagick/ImageMagick.git
	ignore = untracked
[submodule "libpng"]
	path = libraries/libpng
	url = https://github.com/glennrp/libpng.git
	ignore = untracked
[submodule "libvpx"]
	path = libraries/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
	ignore = untracked
[submodule "zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
	ignore = untracked
[submodule "ffmpeg"]
	path = libraries/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = untracked
[submodule "opus"]
	path = libraries/opus
	url = https://github.com/xiph/opus.git
	ignore = untracked
[submodule "luajit"]
	path = libraries/luajit
	url = http://luajit.org/git/luajit-2.0.git
	ignore = untracked
[submodule "openssl"]
	path = libraries/openssl
	url = https://github.com/openssl/openssl.git
	ignore = untracked
[submodule "nv-codec-headers"]
	path = libraries/nv-codec-headers
	url = https://git.videolan.org/git/ffmpeg/nv-codec-headers.git
